.titleStyles{
    display:inline-block;
    width:'35vh';
    height:'20vh';
    margin-right:1vw;
    transition:'transform 0.5s';
    position:'relative';
}

.titleStyles::before{
    background: rgba(0,0,0,0.7);
}